/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
    background-color: black;
    color:white;
    font-family:"arial", sans-serif;
    
}

#logo {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

p {
    text-align: center;
    font-size:14px;
    background-color:yellow;
    margin:0em 2.5em;
    padding: 0.25em 1em;
    border-radius:10em;
    color:black;
    font-weight: bold;
}

img {
    width:100%;
    min-width: 10em;
    max-width: 30em;
    padding:1em; 
    
}

section {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-around;
}

.artikel {
    position:relative;
}

.artikel h1 {
    position:absolute;
    margin:0; 
    padding:0 2.5em 0.5em;
    left:0;
    right:0;
    bottom:3em;
    max-width: 85%;
    text-align: left;
}

.artikel p {
    position:absolute;
    margin:0 2em 0.5em; 
    padding:0.25em 1em;
    left:0;
    bottom:1.5em;
    max-width:25em;
    background-color:black;
    border-radius:10em;
    text-align: left;
    color:white;
}

