/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
    background-color: black;
    color:white;
}

h1 {
    text-align: center;
    font-size: 26px;
}

h2 {
    font-size: 18px;
    
}

p {
    text-align: center;
}

article p {
    text-align: left;
}

img {
    width:20em;
}





